<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="orderCancelled.css" />
    <title>London Waste Management - Full Refund</title>
  </head>
  <body>
    <!-- Background decorative images - absolute positioned on whole page -->
    <div class="left-bot-image"></div>
    <div class="right-top-image"></div>

    <div>
      <div>
        <img src="./https://res.cloudinary.com/ddcsuzef0/image/upload/v1751659277/logo_cr9bor.png" alt="London Waste Management Logo" />
      </div>

      <!-- content -->
      <div class="content-wrapper">
        <div class="content">
          <div class="title">
      Order Cancelled
          </div>

          <div class="sub-content">
            <div class="text-content">
              <div class="greeting-title">
                Dear <span class="name">Seif Eleuch</span>,
              </div>

              <div class="message">
            This email is confirmation that your order with London Waste Management has now been cancelled.
              </div>

              <br />
              <div class="message">
               If you change your mind please don't hesitate to get back in touch.
              </div>

              <div class="message">
              Thank you for your understanding.
              </div>

              <div class="">
               If you have any question feel free to contact us at
                <a
                  href="mailto:hello@londonwastemanagement.com"
                  class="contact-link"
                  >hello@londonwastemanagement.com</a
                >
                or call us on 02030971517
              </div>

              <div class="signature">
                Best regards,<br />
                <div class="department">London Waste Management Department</div>
              </div>
            </div>

            <!-- Image placeholder - add image path here when needed -->
            <div class="image-placeholder">
              <img src="./assets/Group.svg" alt="" />
            </div>
          </div>

          <div class="footer-contact">
            London Waste Management |
            <a
              href="mailto:hello@londonwastemanagement.com"
              class="contact-link"
              >hello@londonwastemanagement.com</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Page footer waves -->
    <div class="footer-waves">
      <img style="width:100%" src="https://res.cloudinary.com/ddcsuzef0/image/upload/v1751659277/image_cefof1.png" alt="Footer waves" />
    </div>
  </body>
</html>
