<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="unsuccessfulOrder.css" />
    <title>London Waste Management - Full Refund</title>
  </head>
  <body>
    <!-- Background decorative images - absolute positioned on whole page -->
    <div class="left-bot-image"></div>
    <div class="right-top-image"></div>

    <div>
      <div>
        <img src="./https://res.cloudinary.com/ddcsuzef0/image/upload/v1751659277/logo_cr9bor.png" alt="London Waste Management Logo" />
      </div>

      <!-- content -->
      <div class="content-wrapper">
        <div class="content">
          <div class="title">
           Sorry, your order was unsuccessful
          </div>

          <div class="sub-content">
            <div class="text-content">
              <div class="greeting-title">
                Dear <span class="name">Seif Eleuch</span>,
              </div>

              <div class="message">
          Unfortunately, we couldn't complete your order due to an issue with your payment method.If you'd like to continue with your purchase, please return to London Waste Management and try a different method of payment.
              </div>

              <br />
              <div class="message">
              We appreciate your Understanding.
              </div>

        

              <div class="">
                If you have any questions or require further assistance, please
                do not hesitate to contact us at
                <a
                  href="mailto:hello@londonwastemanagement.com"
                  class="contact-link"
                  >hello@londonwastemanagement.com</a
                >
                or call us on 02030971517
              </div>

              <div class="signature">
                Best regards,<br />
                <div class="department">London Waste Management Department</div>
              </div>
            </div>

            <!-- Image placeholder - add image path here when needed -->
            <div class="image-placeholder">
              <!-- <img src=".https://res.cloudinary.com/ddcsuzef0/image/upload/v1751659276/truck_kgvaob.png" alt="" /> -->
            </div>
          </div>

          <div class="footer-contact">
            London Waste Management |
            <a
              href="mailto:hello@londonwastemanagement.com"
              class="contact-link"
              >hello@londonwastemanagement.com</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- Page footer waves -->
    <div class="footer-waves">
      <img style="width:100%" src="https://res.cloudinary.com/ddcsuzef0/image/upload/v1751659277/image_cefof1.png" alt="Footer waves" />
    </div>
  </body>
</html>
